body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rebeccapurple;
}

/* Navbar med meny */
.meny{
    width: 100%;   
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    background: transparent;
    transition: all .4s;
}

ul{
    width: 100%;
    display: block;
    list-style: none;
}

li{
    font-family: 'Lobster', Georgia, Times, serif;
    display: inline;
    color: black;
    font-weight: bold;
    padding: 2%;
    font-size: 2em;
}
div.logodiv{
    padding: 10%;
}

.plogo{
    font-family: 'Lobster', Georgia, Times, serif;
    font-weight: bold;
    font-size: 3em;
    transition: all .4s;
}

 /* scrollfunktionen */
.scroll{
    height: 10%;
    width: 100%;
    padding-top: 0;
    font-size: 1em;
    background-color: rgba(39, 38, 38, 0.50);
    transition: all .4s;
}

.scroll.plogo{
    background: transparent;
    font-size: 1.7em;
    transition: all .4s;
}

/* bakgrundsbilder */
.bgimg1, .bgimg2{
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1{
    background-image: url("img/paraImg1.png");
}

.bgimg2{
    background-image: url("img/paraImg2.jpg")
}

