body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:silver;
    font-size: 100%;
}

/* Navbar med meny */
.meny{
    width: 100%;   
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    background: transparent;
    transition: all .4s;
    z-index: 2;
}


ul{
    width: 100%;
    display: block;
    list-style: none;
}

li{
    font-family: 'Lobster', Georgia, Times, serif;
    display: inline;
    color: black;
    font-weight: bold;
    padding: 2%;
    font-size: 3.5vw;
}

/* Hover i menyn*/
a:hover{
    color: #323131;
}

#linkHome:hover, #link1:hover, #link2:hover, #link3:hover{
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

div.logodiv{
    padding: 10%;
    width: 30%;
}

.plogo{
    font-family: 'Lobster', Georgia, Times, serif;
    font-weight: bold;
    font-size: 4.5vw    ;
    transition: all .4s;
}

 /* scrollfunktionen */
.scroll{
    height: 10%;
    width: 100%;
    padding-top: 0;
    font-size: 1em;
    background-color: rgba(39, 38, 38, 0.50);
    box-shadow: 0px 0px 1px 2px black;
    transition: all .4s;
}

/* Scrollfunktion för <p> på loggan */
.scroll.plogo{
    background: transparent;
    font-size: 1.7em;
    transition: all .4s;
    box-shadow: 0px 0px 0px 0px white;
}

/* bakgrundsbilder */
.bgimg1, .bgimg2, .bgimg3, .bgimg4{
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /*Parallax 1*/
.bgimg1{
    background-image: url("img/paraImg1.png");
}

/*Welcome text*/
.welcomeTxt{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10%;
    width: 25%;
    transform: translate(-50%,-50%);
    opacity: 0.9;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    z-index: 1;
}

/*Parallax 2*/
.bgimg2{
    background-image: url("img/paraImg2.jpg");
    min-height: 70%;
}

/*Parallax 3*/
.bgimg3{
    background-image: url("img/paraImg3.jpg");
    min-height: 70%;
}

/*BÖR VI KANSKE TITTA PÅ DENNA?*/
.omGrupp{
    padding: 2%;
    font-family: 'Scope One', serif;
}

/*Persondiv*/
.person {
    width: 100%;
    height: 70%;
    position: relative;
}

/*Bilddiv*/
.bild {
    padding: 2%;
    float: left;
}

/*Textdiv i personSlide*/
.personText {
    padding-left: 4%;
    width: 45%;
    text-align: center;
    float: left;
}

/*Progressbar*/
.progressBars {
    padding-left: 5%;
    float: left;
    vertical-align: top;
}

/*Style för progressbar*/
progress {
    text-align: center;
    height: 1.5em;
    width: 200px;
    font-weight: bold;
  }

/*Innehållet i baren*/
progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
}

/*Den fina texten ovanför progressbars*/
.kunskap {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

/*Knapparna för att byta slides*/
#left, #right {
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    bottom: 0;
}

/*Den vänstra knappens position*/
#left {
    padding-left: 33%;
    left: 0;
}

/* Den högra knappens position*/
#right {
    padding-right: 33%;
    right: 0;
}

.contactHead{
    text-align: center;
    font-family: 'Scope One', serif;
}

h4{
    font-style: italic;
}

#h1Contact{
    padding-top: 2%;
}

h4{
    padding-bottom: 2%;
}


/* Css för kontakta-oss */
.classContact, .mailen, .msg{
    width: 100%;
    align-items: center;
    padding-left: 33%;
}

.namn, .tlf{
    margin-top: 2%;
    height: 32px;
}

.namn{
    width: 16%;
}

.tlf{
    width: 16.3%;
}

.mail{
    margin-top: 1%;
    height: 32px;
    width: 33%;
    margin-bottom: 1%;
}

.contactMsg{
    width: 33%;
    height: 64px;
}

/* input i textfälten */
input[type='text'] {
    font-family: "Lato", sans-serif;
    background-color: #EDEDED;
}


/* placering och storlek av GoogleMaps */
.google{
    margin-left: 15%;
    height: 50%;
    width: 15%;
    border-radius: 7%;
    margin-top: 2%;
    margin-bottom: 5%;
}


/*Parallax 4*/
.bgimg4 {
    background-image: url("img/paraImg4.jpg");
    min-height: 70%;
}

/*portfolio div*/
#portfolio{
    margin: auto;
    width: 100%;
    height: 100%;
}

/*Själva storleken på bilderna*/
#slideshow{
    width: 50%;
    height: 50%;
    padding-left: 25%;
}

/*div för texten*/
#portText {
    text-align: center;
}
/*div för knapparna*/
.portKnapp {
    padding-left:40%;
}

/*lite kopiering av knapparna från tidigare div*/
#nästaknapp, #föregåendeknapp {
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
}

#nästaknapp {
    padding-right: 33%;
    right: 0;
}

#föregåendeknapp {
    padding-left: 33%;
    left: 0;
}
