@media only screen and (min-width: 768px){ 
    
    body, html{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(255, 106, 46, 0.34);
        font-size: 100%;
        font-family: "Lato", sans-serif;
    }
    
    /* Navbar med meny */
    .meny{
        width: 100%;   
        height: 20%;
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        transition: all .4s;
        z-index: 2;
    }
    
    
    ul{
        width: 100%;
        display: block;
        list-style: none;
    }
    
    li{
        font-family: 'Lobster', Georgia, Times, serif;
        display: inline;
        color: black;
        font-weight: bold;
        padding: 2%;
        font-size: 2.2vw;
    }
    
    /* Hover i menyn*/
    a:hover{
        color: #323131;
    }
    
    #linkHome:hover, #link1:hover, #link2:hover, #link3:hover, #link4:hover{
        font-size: larger;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    div.logodiv{
        margin: 10%;
        width: 30%;
    }
    
    .plogo{
        font-family: 'Lobster', Georgia, Times, serif;
        font-weight: bold;
        font-size: 4.5vw    ;
        transition: all .4s;
    }
    
     /* scrollfunktionen */
    .scroll{
        height: 10%;
        width: 100%;
        padding-top: 0;
        font-size: 1em;
        background-color: #504A4A;
        box-shadow: 0px 0px 1px 2px black;
        transition: all .4s;
    }
    
    /* Scrollfunktion för <p> på loggan */
    .scroll.plogo{
        background: transparent;
        font-size: 1.7em;
        transition: all .4s;
        box-shadow: 0px 0px 0px 0px white;
    }
    
    /* bakgrundsbilder */
    .bgimg1, .bgimg2, .bgimg3, .bgimg4{
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
     /*Parallax 1*/
    .bgimg1{
        background-image: url("img/paraImg1.png");
    }

    #anchor1, #anchor2{
        padding-top: 4%;
        margin-top: -2%;
    }
    
    .welcomeTxt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.9;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
        color: white;
        background-color: black;
        border-radius: 10px;
        font-family: "Lato", sans-serif;
        z-index: 1;
    }
    
    /*Parallax 2*/
    .bgimg2{
        background-image: url("img/paraImg2.jpg");
        min-height: 70%;
    }
    
    /*Parallax 3*/
    .bgimg3{
        background-image: url("img/paraImg3.jpg");
        min-height: 70%;
    }
    
    #h1Rubrik{
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

/* första stycket */
    .about1{
        width: 100%;
        display: block;
    }

    .ooP1, .ooP3{
        margin-left: 14%;
        width: 30%;
        float: left;
        text-align: right;
    }
    .ooImg1, .ooImg3{
        margin-top: 1%;
        margin-left: 1%;
      
    }

/* andra stycket */

    .about2, .about3{
        width: 100%;
        padding-top: 10%;
    }

    .ooImg2{
        margin-left: 45%;
        display: inline;
    }

    .ooP2{
        margin-right: 19%;
        text-align: left;
        float: right;
    }

    .about3{
        margin-bottom: 5%;
    }

    .ooP1, .ooP2, .ooP3{
        border-radius: 8px;
        box-shadow: 2px -2px 100px rgba(0, 0, 0, 0.21);
    }


    #trenddiv {
        width: 100%;
        font-family: 'Scope One', serif;
        margin-bottom: 3%;
        display: inline-block;
    }
    
    #jstrend {
        width: 35%;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 2;   
        font-size: 1em;
        float: left;
        border-radius: 7px;
        box-shadow: 2px -2px 100px rgba(0,0,0,.21);
    }
    
    #csstrend {
        width: 35%;
        margin-left: 5%;
        line-height: 2;
        font-size: 1em;
        float: left;
        border-radius: 7px;
        box-shadow: 2px -2px 100px rgba(0,0,0,.21);
    }
    
    .trendh3 {
        text-decoration: underline;
    }

    #motTimmy, #motOla, .btn-aboutOla, .btn-aboutTimmy{
        height: 60%;
        width: 10%;
        background-color: white;
        border: 2px solid steelblue;
        font-family: "Lato", sans-serif;
        border-radius: 8px;
    }

    #motTimmy:hover, #motOla:hover, .btn-aboutOla:hover, .btn-aboutTimmy:hover{
        background-color: steelblue;
        color: white;
        cursor: pointer;
    }

    .btn-about{
        width: 100%;
        height: 10%;
        display: block;
        align-items: center;
    }


    #motTimmy{
        margin-left: 35%;
    }

    #motOla{
        margin-left: 15%;
    }
    
    /*Persondiv*/
    .person {
        width: 100%;
        min-height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    /*Bilddiv*/
    .timmysBild {
        padding: 2%;
        float: left;
        height: 20%;
        width: 10%;
    }
    
    .olasBild{
        padding: 2%;
        float: left;
        height: 20%;
        width: 20%;
    }
    #timmy{
        width: 100%;
        height: 100%;
    }
    
    #ola{
        width: 100%;
        height: 100%;
    }
    
    .personSlide1, personSlide2{
        align-items: center;
    }
    
    /*Textdiv i personSlide*/
    .personText, .personTextTimmy {
        width: 45%;
        text-align: center;
        float: left;
        font-family: 'Scope One', serif;
        font-size: 1.2em;
    }
    .personTextTimmy{
        margin-left: 10%;
    }
    
    /*Progressbar*/
    .progressBars {
        padding-left: 5%;
        float: left;
        vertical-align: top;
    }
    
    /*Style för progressbar*/
    progress {
        text-align: center;
        height: 1.5em;
        width: 200px;
        font-weight: bold;
      }
    
    /*Innehållet i baren*/
    progress:before {
      content: attr(data-label);
      font-size: 0.8em;
      vertical-align: 0;
    }
    
    /*Den fina texten ovanför progressbars*/
    .kunskap {
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: underline;
    }
    
    /*Knapparna för att byta slides*/
    #left, #right {
        position: absolute;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 50px;
        position: absolute;
        bottom: 0;
    }
    
    /*Den vänstra knappens position*/
    #left {
        padding-left: 33%;
        left: 0;
    }
    
    /* Den högra knappens position*/
    #right {
        padding-right: 33%;
        right: 0;
    }
    
    /*Parallax 4*/
    .bgimg4 {
        background-image: url("img/paraImg4.jpg");
        min-height: 70%;
    }
    .contactHead{
        text-align: center;
        font-family: 'Scope One', serif;
    }
    
    h4{
        font-style: italic;
    }
    
    #h1Contact{
        padding-top: 2%;
    }
    
    h4{
        padding-bottom: 1%;
    }
    
    
    /* Css för kontakta-oss */
    .classContact, .mailen, .msg{
        width: 100%;
        align-items: center;
    
    }
    
    .namn, .tlf{
        margin-top: 1%;
        height: 32px;
        margin-bottom: 2%;
    }
    
    .namn{
        width: 16%;
        margin-left: 33%;
    }
    
    .tlf{
        width: 16.3%;
    }
    
    .mail{
        height: 32px;
        width: 33%;
        margin-left: 33%;
        margin-bottom: 2%;
    }
    
    .contactMsg{
        width: 33%;
        height: 64px;
        margin-left: 33%;
        font-family: "Lato", sans-serif;
        border: 2px solid steelblue;
    }
    
    /* input i textfälten */
    input[type='text'] {
        font-family: "Lato", sans-serif;
        border: 2px solid steelblue;
    }
    
    
    #contactBtn{
        height: 5%;
        width: 7%;
        margin-left: 60%;
        background-color: white;
        border: 2px solid steelblue;
        font-family: "Lato", sans-serif;
        border-radius: 8px;
    }
    
    #contactBtn:hover{
        background-color: steelblue;
        color: white;
        cursor: pointer;
    }
    
    
    /* placering och storlek av GoogleMaps */
    .google{
        margin: auto;
        height: 50%;
        width: 70%;
        border-radius: 20px;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    
    
    /*portfolio div*/
    #portfolio{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    
    /*Själva storleken på bilderna*/
    #slideshow{
        width: 50%;
        height: 50%;
        margin-left: 25%;
        box-shadow: 2px -2px 100px rgba(0,0,0,.5);
    }
    
    /*div för texten*/
    #portText {
        text-align: center;
    }
    /*div för knapparna*/
    .portKnapp {
        padding-left:40%;
    }
    
    /*lite kopiering av knapparna från tidigare div*/
    #nästaknapp, #föregåendeknapp {
        position: absolute;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 50px;
        position: absolute;
    }
    
    #nästaknapp {
        padding-right: 33%;
        right: 0;
    }
    
    #föregåendeknapp {
        padding-left: 33%;
        left: 0;
    }
    
    #startstopp {
        margin-left: 10%;
        font-size: 20px;
        border: 2px solid steelblue;
        font-family: "Lato", sans-serif;
        border-radius: 8px;
        margin-top: 2%;
        transition-duration: 0.6s;
        cursor: pointer;
    }
    
    #startstopp:hover {
        opacity: 1;
        background-color: steelblue;
        color: white;
    }

    .info-hidden {
        display: none;
    }
    .info-visible {
        display: block;
    }

    }