@media only screen and (max-width: 768px) {
    body, html{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: rgba(255, 106, 46, 0.34);
        font-size: 100%;
        font-family: "Lato", sans-serif;
    }
    
.open-menu{
    position: fixed;
    width: 100%; 
    height: 50%;
    background-color: #504A4A;
    z-index: 998;
    align-items: center;
    transition: all .4s;
}

.hidden{
    display: none;
    transition: all .4s;
}

.open-list{
        display: inline-block;
        position: fixed;
        z-index: 999;
        font-family: "Lato", sans-serif;
        font-size: 2em;
        list-style-type: none;
        padding-top: 15%;
        transition: all .4s;
    }

    #burgar-div{
        position: fixed;
        width: 100%;
        height: 13%;
        z-index: 1000;
        background-color: #504A4A;
    }


    #burger{
       margin-left: 3%;
       margin-top: 3%;
    }
    
    /* Css för varje "streck" i burgaren */
    #burger span{
        background: black;
        display: block;
        width: 50px;
        height: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 0;
        transition: all ease-in-out 0.4s;
    }
    
    /* Tar bort middenstrecket */
    #burgar-div.open span:nth-child(2){
        width: 0;
        opacity: 0;
    }
    
    /* Animerar burgarmenyn */
    #burgar-div.open span:nth-child(1){
        transform: rotate(-45deg);
        top: 20px;
    }
    
    /* Animerar burgarmenyn */
    #burgar-div.open span:nth-child(3){
        transform: rotate(45deg);
        top: -20px;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    

    /* bakgrundsbilder */
    .bgimg1, .bgimg2, .bgimg3, .bgimg4{
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
     /*Parallax 1*/
    .bgimg1{
        background-image: url("img/paraImg1.png");
    }

    #anchor1{
        padding-top: 2%;
    }
    
    /*Welcome text*/
    .welcomeTxt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.9;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: white;
        background-color: black;
        border-radius: 10px;
        font-family: "Lato", sans-serif;
        z-index: 1;
    }
    
    /*Parallax 2*/
    .bgimg2{
        background-image: url("img/paraImg2.jpg");
        min-height: 40%;
    }
    
    /*Parallax 3*/
    .bgimg3{
        background-image: url("img/paraImg3.jpg");
        min-height: 40%;
    }

    /*Parallax 4*/
    .bgimg4 {
        background-image: url("img/paraImg4.jpg");
        min-height: 40%;
    }

    .omGrupp-wrapper{
        margin-left: 5%;
    }

    #jstrend {
        line-height: 2;   
        font-size: 0.8em;
    }

    #csstrend {
        line-height: 2;
        font-size: 0.8em;
    }

    .trendh3 {
        text-decoration: underline;
    }


    .btn-about{
        margin-top: 5%;
        width: 100%;
        height: 20%;
        display: inline-block;
    }
    #motTimmy{
        margin-left: 25%;
        width: 25%;
        height: 50%;
    }

    #motAnchorOla{
        margin-left: 10%;
        width: 25%;
        height: 50%;
    }

    #motTimmy, #motAnchorOla{
        background-color: white;
        border: 2px solid steelblue;
        font-family: "Lato", sans-serif;
        border-radius: 8px;
    }


    
    /*Persondiv*/
    .person {
        width: 100%;
        min-height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    /*Bilddiv*/
    .timmysBild {
        margin: 2%;
        float: left;
        height: 20%;
        width: 10%;
    }
    
    #timmy{
        width: 100%;
        height: 100%;
    }
    
    .olasBild{
        margin: 2%;
        float: left;
        height: 20%;
        width: 20%;
    }
    
    #ola{
        width: 100%;
        height: 100%;
    }
    
    /*Textdiv i personSlide*/
    .personText, .personTextTimmy {
        height: 100%;
        width: 80%;
        text-align: left;
        float: left;
        font-size: 3.9vw;
        margin-left: 5%;
    }
    
    /*Progressbar*/
    .progressBars {
        margin-left: 25%;
        float: left;
        padding-bottom: 20%;
    }
    
    /*Style för progressbar*/
    progress {
        text-align: center;
        height: 100%;
        width: 200px;
        font-weight: bold;
      }
    
    /*Innehållet i baren*/
    progress:before {
      content: attr(data-label);
      font-size: 0.8em;
      vertical-align: 0;
    }
    
    /*Den fina texten ovanför progressbars*/
    .kunskap {
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: underline;
    }
    
    .contactHead{
        text-align: center;
        font-family: 'Scope One', serif;
    }
    
    h4{
        font-style: italic;
    }
    
    #h1Contact{
        padding-top: 2%;
    }
    
    h4{
        padding-bottom: 2%;
    }
    
    
    /* Css för kontakta-oss */
    .classContact, .mailen, .msg{
        align-items: center;
        margin-bottom: 1%;
        margin-left: 10%;
    }

    .kontaktwrapper {
        width: 100%;
    }
    
    .namn, .tlf{
        margin-top: 2%;
        height: 32px;
        background-color: #EDEDED;
    }
    
    .namn{
        width: 45%;
    }
    
    .tlf{
        width: 45%;
    }
    
    .mail{
        margin-top: 1%;
        height: 32px;
        width: 93%;
        margin-bottom: 1%;
    }
    
    .contactMsg{
        width: 93%;
        height: 64px;
    }
    
    /* input i textfälten */
    input[type='text'] {
        font-family: "Lato", sans-serif;
        background-color: #EDEDED;
    }
    
    #contactBtn{
        height: 15%;
        width: 35%;
        margin-left: 60%;
        border: 2px solid steelblue;
        font-family: "Lato", sans-serif;
        border-radius: 8px;
    }
    
    
    /* placering och storlek av GoogleMaps */
    .google{
        margin-left: 10%;
        height: 50%;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 5%;
        border-radius: 10px;
    }
    
    /*portfolio div*/
    #portfolio{
        margin: auto;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    
    /*Själva storleken på bilderna*/
    #slideshow{
        width: 75%;
        max-height: 75%;
        margin-left: 15%;
        box-shadow: 2px -2px 100px rgba(0,0,0,.5);
    }
    
    /*div för texten*/
    #portText {
        text-align: center;
        font-family: 'Scope One', serif;
    }
    /*div för knapparna*/
    .portKnapp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    #startstopp {
        font-size: 20px;
        border: 2px solid steelblue;
        border-radius: 8px;
        transition-duration: 0.6s;
    }
    
    #startstopp:hover {
        opacity: 1;
        background-color: steelblue;
        color: white;
    }

    .btn-aboutOla, .btn-aboutTimmy, #motOla, #nästaknapp, #föregåendeknapp, div.logodiv, img.ooImg1, img.ooImg2, img.ooImg3{
        display: none;
    }
}
